<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Companie</h3>
                        <p>
                            A108 Adam Street <br>
                            NY 535022, USA<br><br>
                            <strong>Telefon:</strong> +40 726 381 934<br>
                            <strong>Email:</strong> company@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/groups/569175147961571" class="facebook"
                                target="_blank"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/codejam_test/" class="instagram" target="_blank"><i
                                    class="bx bxl-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Restaurantly</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>