<footer class="footer mt-auto py-3 border-top">
    <div class="container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h2>Companie</h2>
                            <p>
                                A108 Adam Street <br>
                                NY 535022, USA<br><br>
                                <strong>Telefon:</strong> +40 726 381 934<br>
                                <strong>Email:</strong> company@example.com<br>
                            </p>
                            <div class="social-links mt-3" style="font-size: 30px;">
                                <a href="https://www.facebook.com/groups/569175147961571" class="facebook link-dark"
                                    target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/codejam_test/" class="instagram link-dark"
                                    target="_blank"><i class="bx bxl-instagram"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>