<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>+40 726 381 934</span></i>
            <i class="bi bi-envelope d-flex align-items-center ms-4"><span>company@example.com</span></i>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="/">Companie</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="/">Despre noi</a></li>
                <li><a class="nav-link scrollto" href="/product/all">Produsele noastre</a></li>
                <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                <%if(!currentUser) { %><li><a class="nav-link scrollto" href="/auth/facebook">Login</a></li> <%}%>
                <%if(currentUser) { %><form action="/logout" method="post"><button
                        class="nav-link scrollto">Logout</button></form><%}%>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <%if(currentUser) { %><a href="/product/post" class="book-a-table-btn scrollto d-none d-lg-flex">Posteaza un
                    produs</a><%}%>

    </div>
</header><!-- End Header -->