<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link scrollto link-dark" href="/">Despre noi</a></li>
        <li><a class="nav-link scrollto link-dark" href="/product/all">Produsele noastre</a></li>
        <li><a class="nav-link scrollto link-dark" href="/contact">Contact</a></li>
    </ul>

    <div class="col-md-3 d-flex text-end">
        <%if(!currentUser) { %><a class="btn btn-outline-success me-2" href="/auth/facebook">Login</a> <%}%>
        <%if(currentUser) { %><a href="/product/post" class="btn btn-outline-primary me-2">Posteaza un
            produs</a><%}%><%if(currentUser) { %><form action="/logout" method="post"><button
                class="btn btn-outline-danger me-2">Logout</button>
        </form><%}%>
    </div>
</header>