<%layout('partials/boilerplate')-%>
<section id="testimonials" class="testimonials section-bg">
    <div class="container d-flex justify-content-center align-items-center" data-aos="fade-up" style="height: 100vh;">
        <div class="section-title">
            <p>404 Not Found</p>
        </div>
</section>