<%layout('partials/boilerplate')-%>
<div class="forcedCenter">
    <div class="d-flex flex-column flex-md-row">
        <div class="col-6">
            <h1>Contact</h1>
            <br>
            <section>
                <h3>Email:</h3>
                <h4>
                    example@company.com
                </h4>
            </section>
            <br>
            <section>
                <h3>Telephone:</h3>
                <h4 style="min-width: 200px">
                    +40 0732 289 416
                </h4>
            </section>
        </div>
        <div class="col-6">
            <div class="mapouter" class="w-100">
                <div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>