<%layout('partials/boilerplate')-%>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1><span>Companie</span></h1>
                <h2 class="py-3">Calitatea primeaza!</h2>

                <div class="btns">
                    <a href="product/all" class="btn-menu animated fadeInUp scrollto">Produsele noastre</a>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="assets/img/about.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Despre noi</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum beatae excepturi animi, hic
                        architecto alias mollitia ut numquam tenetur quae in aut nisi quidem minima amet suscipit maxime
                        quam.
                        Molestias reprehenderit quod nihil voluptas architecto aliquid magni aspernatur, porro qui
                        eaque, repudiandae accusamus, laborum vero dolorem? Eum reiciendis distinctio consequuntur
                        doloribus accusantium, ad dignissimos perferendis ducimus illo nobis modi?
                        At quidem molestias provident beatae quos assumenda quibusdam quaerat rerum officiis molestiae
                        tempore amet sed impedit, qui doloremque laboriosam illo officia! Neque, porro deleniti non
                        maxime veritatis perferendis assumenda tempora.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->