<%layout('partials/boilerplate')-%>

<!-- ======= Hero Section ======= -->
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Despre produsele noastre</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Exigenţele noastre în ceea ce priveşte calitatea produselor noastre sunt foarte mari. Şi
            aceste exigenţe încep deja din faza de creaţie a produsului, urmând să se extindă în faza de selecţie a
            furnizorilor şi în cea de examinare a produsului din locul de fabricaţie până în pragul în care stă să fie
            livrat către clienţii noştri. La sfârşitul acestui proces făcut în colaborare cu furnizorii şi partenerii
            noştri din întreaga lume se află calitatea produselor noastre.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="/product/all">Produsele noastre</a>
        </div>
    </div>
</div>