.app {
    height: 100vh;
}

.products-container {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
}

.products-container>.card {
    display: inline-block;
    min-width: 300px;
    margin: 50px;
}

@media only screen and (max-width: 600px) {
    .products-container {
        flex-direction: column;
    }
}