<%layout('partials/boilerplate')-%>

<div class="container swiper mySwiper my-5 py-5">
    <div class="swiper-wrapper">
        <% newProductItem.forEach(product => {%>
        <div class="swiper-slide">
            <%if(product._id){%><a href="/product/<%=product._id%>" class="link-light"><%}%>
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background: linear-gradient(
                            rgba(0, 0, 0, 0.5),
                            rgba(0, 0, 0, 0.5)
                          ), url('<%=product.image%>');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                        <%=product.title%></h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <div class="social-links mt-3" style="font-size: 30px;">
                                <a href="https://www.facebook.com/groups/569175147961571" class="facebook link-light"
                                    target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/codejam_test/" class="instagram link-light"
                                    target="_blank"><i class="bx bxl-instagram"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
        </a>
    </div>
    <%});%>
</div>
</div>