<%layout('partials/boilerplate')-%>

<div class="container products-container" data-scroll-container>
    <div class="d-flex flex-row flex-nowrap" data-scroll-section>
        <div class="card card-body" data-scroll>Card</div>
        <div class="card card-body" data-scroll>Card</div>
        <div class="card card-body" data-scroll>Card</div>
        <div class="card card-body" data-scroll>Card</div>
    </div>
</div>