<%layout('partials/boilerplate')-%>

<section id="book-a-table" class="book-a-table" style="padding-top: 200px;">
    <div class="container" data-aos="fade-up">
        <%if(currentUser) { %>
        <div class="section-title text-center">
            <p>Add a product</p>
        </div>
        <form action="/product/post" class="container my-5 w-xl-50 php-email-form needs-validation" method="POST"
            enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <input type="text" class="form-control" name="newTitle" placeholder="Product Title" required>
                <div class="invalid-feedback">
                    Invalid Title.
                </div>
            </div>
            <div class="mb-3">
                <input type="file" name="newImage" class="form-control" required>
                <div class="invalid-feedback">
                    Invalid Image.
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="3" name="newDescription" placeholder="Product description"
                    required></textarea>
                <div class="invalid-feedback">
                    Invalid description
                </div>
            </div>
            <div class="mb-3">
                <input type="checkbox" id="instagramCheckbox" name="instagram" class="form-check-input"
                    style="width: 20px;height: 20px;">
                <label for="instagramCheckbox">Post on Instagram</label>
            </div>
            <div class="mb-3">
                <input type="checkbox" id="facebookCheckbox" name="facebook" class="form-check-input"
                    style="width: 20px;height: 20px;">
                <label for="facebookCheckbox">Post on Facebook</label>
            </div>
            <div class="mb-3">
                <input type="checkbox" id="TwitterCheckbox" name="twitter" class="form-check-input"
                    style="width: 20px;height: 20px;">
                <label for="facebookCheckbox">Post on Twitter</label>
            </div>
            <button type="submit" class="btn btn-dark float-end">Make post</button>
        </form>
        <%} else if(!currentUser) {%>
        <div class="section-title text-center">
            <p>Nu sunteti logat</p>
        </div>
        <%}%>
    </div>
</section>